<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BU Key Request</title>
    <link rel="stylesheet" type="text/css" href="/StyleSheet.css">
</head>

<body>
    <div id="center">
    <h1>ALL SET!</h1>
    <div id="linkWrapper">
        <a id="link" href="/inpcheckout">Return to In Person Checkout</a>
    </div>
    </div>
</body>
</html>