<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BU Key Request</title>
    <link rel="stylesheet" type="text/css" href="/StyleSheet.css">
</head>

<body>
<br>
<a id="link" href="/admin/bookings">Book</a>
<br>
<a id="link" href="/admin/persons">People</a>
<br>
<a id="link" href="/admin/keys">Keys</a>
<br>
<a id="link" href="/admin/adminList">Add New Admin</a>
</body>
</html>