<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BU Key Request</title>
    <link rel="stylesheet" type="text/css" href="/StyleSheet.css">
</head>

<body>
    <div id="backWrapper">
        <a id="back" href="/admin">
            <img src="/Images/back.svg" alt="back"/>
        </a>
    </div>
    <br>
    <% if (keyList == null){%>
        <h1>No Bookings Yet</h1>
    <%}else{%>
    <table class="review" id="admin">
        <div class="container"> 
            <tr >
                <th>Key Number</th>
                <th>Key Location</th>
                <th>In Keybox?</th>
            </tr>
            <% for(let i = 0; i < keyList.length; i++) { %>
                <tr>
                    <td><%= keyList[i].keyNum %></td>
                    <td><%= keyList[i].keyLocation %></td>
                    <td>
                        <%if(keyList[i].available){%>
                        true
                        <%} else {%>
                        false
                        <%}%>
                    </td>
                </tr>
            <% } %>
        </div>
    </table>
    <%}%>
</body>

</html>