<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BU Key Request</title>
    <link rel="stylesheet" type="text/css" href="/StyleSheet.css">
</head>

<body>
    <h1>Butler University Key Request</h1>
    <div id="wrapper">
        <span id="button1">
            <a href="/keycheckout/res/1">
                <img src="/Images/reskey.svg" alt="Reserve Key" />
            </a>
        </span>
        <span id="button2">
            <a href="/auth/login">
                <img src="/Images/ipcheck.svg" alt="In Person Check Out"/>
            </a>
        </span>
    </div>
</body>
</html>