<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BU Key Request</title>
    <link rel="stylesheet" type="text/css" href="/StyleSheet.css">
</head>

<body>
    <div id="backWrapper">
        <a  id="back" href="/auth/logout">
            <img src="/Images/back.svg" alt="back" />
        </a>
    </div>
    <h1>In Person Check Out</h1>
    <div id="wrapper">
        <span id="button1">
            <a href="/returnkey">
                <img src="/Images/returnkey.svg" alt="Return Key" />
            </a>
        </span>
        <span id="button2">
            <a href="/questionres">
                <img src="/Images/checkey.svg" alt="Check Out Key" />
            </a>
        </span>
    </div>
</body>
</html>