<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BU Key Request</title>
    <link rel="stylesheet" type="text/css" href="/StyleSheet.css">
</head>

<body>
    <div id="backWrapper">
        <a id="back" href="/inpcheckout">
            <img src="/Images/back.svg" alt="back"/>
        </a>
    </div>
    <h1>Did you make a key reservation?</h1>
    <div id="wrapper">
        <span id="button1">
            <a href="/reservekey">
                <img src="/Images/yes.svg" alt="Yes"/>
            </a>
        </span>
        <span id="button2">
            <a href="/keycheckout/now/1">
                <img src="/Images/no.svg" alt="No"/>
            </a>
        </span>
    </div>
</body>
</html>