<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BU Key Request</title>
    <link rel="stylesheet" type="text/css" href="/StyleSheet.css">
</head>

<body>
    <div id="center">
    <h1>Your reservation is confirmed</h1>
    <h3>Please pick up your keys at the Service Center during the dates of your reservation</h3>
    <h3>Be sure to have ID with you when picking up keys</h3>
    <div id="linkWrapper">
        <a id="link" href="https://goo.gl/maps/bEvDAc3BZrL8Jk8e6" target="_blank">Where is the Service Center?</a>
    </div>
    <div id="linkWrapper">
        <a id="link" href="/">Return to Home page</a>
    </div>
    </div>
</body>
</html>